@model MvcStok.Models.Entity.TabloUrunler
@{
    ViewBag.Title = "UrunEkle";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

    <form method="post" class="form-group">
        <div>
            <label>Ürün Adı</label>
            <input type="text" class="form-control" name="UrunAd" required="" maxlength="30" />
        </div>
        <div>
            <label>Marka</label>
            <input type="text" class="form-control" name="Marka" required="" placeholder="Ürünün Markasını Yazınız"/>
        </div>
        <div>
            <label>Kategori Seçin</label>
           @Html.DropDownListFor(m => m.TabloKategoriler.KategoriID,(List<SelectListItem>)ViewBag.dgr,new { @class="form-control"})
        </div>
        <div>
            <label>Ürün Fiyat</label>
            <input type="text" class="form-control" name="UrunFiyat" />
        </div>
        <div>
            <label>Stok</label>
            <input type="text" class="form-control" name="UrunStok" />
        </div>
        <div style="margin-top:15px">
            <button class="btn btn-info">Ürün Ekle</button>
        </div>
    </form>

